DB_HOST=mysql_server
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=app_db

NEXT_PUBLIC_APP_URL=http://localhost:3000
PAYMENKU_API_BASE_URL=https://paymenku.com/api/v1
PAYMENKU_API_KEY=
PAYMENKU_WEBHOOK_SECRET=
